#intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro button {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0;
}
